body{
  width: 100%;
  height: 100%;
  font-family: $font;
  background-color: white;
  color: #748796;
  background-color:whitesmoke;

}

#body-home{
  background-color: white;
}

h1{
  color: $heading-color;
}

p{
  line-height: 150%;
}

.container{
  @include outer_container();
}

.container-app{
  margin-top: 2%;
}