body{
  width: 100%;
  height: 100%;
  font-family: $font;
  background-color: white;
  color: #748796;

}

#body-home{
  background-color: white;
}

h1{
  color: $heading-color;
}

p{
  line-height: 150%;
}

.container{
  @include outer_container();
}

.container-app{
  margin-top: 2%;
}

$alert-red: #FBE3E4;
$alert-yellow: #FFF6BF;
$alert-green: #E6EFC2;

$label-alerts: (alert: $alert-yellow, error: $alert-red, notice: lighten($blue, 40), success: $alert-green);

@each $alert, $color in $label-alerts {
  .label-#{$alert} {
    color: darken($color, 45);
    font-weight: 700;
  }
}