// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-home{
  @include span-columns(12 of 12);
  padding: em(20) 0;
  border-bottom:1px solid $gray;
}

.nav-home{
  @include span-columns(6);
  text-align: left;
  margin-top: 4%;

  a{
    margin: 0 em(20);
    color: transparentize($heading-color, .5);
    text-decoration: none;
    transition: all 0.2s linear;
    text-align: left;

    &:hover{
      color: $heading-color;
    }
  }
}

.nav-search{
  @include span-columns(6);
  margin-top: 4%;
  text-align: right;

  a{
    margin: 0 em(20);
    color: transparentize($heading-color, .5);
    text-decoration: none;
    transition: all 0.2s linear;
    text-align: left;

    &:hover{
      color: $heading-color;
    }
  }
}

a.btn{
  border: 2px solid $blue;
  padding: em(5) em(10);
  border-radius: em(20);
  display: inline-block;
  transition: all 0.2s linear;
  letter-spacing: em(1);

  &:hover{
    border: 2px solid transparentize($blue, .5);
    color: $blue;
  }
}



hr.divider{
  margin:0 auto;
  width: em(70);
  border:1px solid transparentize($heading-color, .9);
}


.divider {
 @include span-columns(12 of 12);
 text-align: center;
 line-height: 1.2;
 margin: 50px 0 10px;
  
  p {
    text-decoration: none;
    margin: 0;
    
    &.name {
      display: inline-block;
      border: 1px solid $gray;
      background: #fff;
      text-transform: uppercase;
      font-size: 12px;
      padding: 3px 8px 2px 12px;
      letter-spacing: .3em;
      color: rgba(0,0,0,0.6);
      position: relative;
      border-radius: em(20);
    }
  }
}







