.blue{
  width: 100%;
  height: 5px;
  background-color: $heading-color;
}

header.app{
  @include span-columns(12 of 12);
  @include omega();
  //display: none;
}

div.logo{
  @include span-columns(2 of 12);
  @include shift(1);
  padding: 0 em(30);

  img{
    width: 100%;
  }
}
