// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue-go{
  color: #1E8BC3
}

.red{
  color: $red;
}

.yellow{
  color: #F9BF3B;
}

.green{
  color: #00B16A;
}

.post-user-info{
  @include span-columns(12 of 12);
  @include omega();

  padding: 0 20%;
  text-align: center;

  img{
    max-height: em(150);
    border-radius: 50%;
  }
  h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
  }

  hr{
    border: 0;
    border: 1px solid $gray;
    width: 15%;
  }

  a{
    color: $blue;
  }

  p{
    font-weight: 400;
    font-size: 1em; 
  }
}


section.posts{
  @include span-columns(12 of 12);
  @include shift(0);
  @include omega();
  margin-top: em(30);
  margin-bottom: em(30); 
  border-bottom: 1px solid $gray;
  padding: 3% 0;
  position: relative;
  //box-shadow: 0 0 25px #F5F5F5;
  background-color: white;

  a{
    color: $blue;
    text-decoration:none;
  }

}


section.username{

  a{
    font-weight: 700;
    color: transparentize($heading-color, .3);
    font-size: em(14);
    margin-bottom: em(10);
    text-decoration: none; 
    &:hover{
      text-decoration: underline;
    }
  }
}

section.post-user{
  background-color: white;
  //border: 1px solid $gray;
  border-radius: 50%;
  height: em(80);
  width: em(80);
  padding: em(5);
  position: absolute;
  top: 1em;
  right: em(-10);

  img{
    width: 100%;
    border-radius: 50%;
  }
}

section.post-info{
  @include span-columns(2 of 8);
  text-align: center;
  font-size: em(13);
  padding: 2.5%;

  img{
    width: 100%;
    padding: 0 35%;
  }

}


p.post-cat{
  background-color: $gray;
  text-transform: uppercase;
  width: 60%;
  margin: 0 auto;
}

section.post{
  @include span-columns(6 of 8);

  img{
    width: 100%;
  }

}

section.post-content{
  padding: 3% 5%;
  line-height: 170%;

  p{
    line-height: 170%;
    font-size: 1.1em
  }

  a{
    color: $blue;
    text-decoration: none;
    font-family: $font-italic;
    font-style: italic;
    font-size: em(12);
  }
}

section.post-meta{
  text-align: left;

  h2{
    color: $heading-color;
    margin-bottom:0;
    font-size: 2em;
    font-weight: 700;
  }

  a{
    color: $heading-color;
    margin-bottom:0;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s linear;

    &:hover{
      color: transparentize($heading-color, 0.2)
    }
  }

  p{
    color: $red;
    font-size: em(12);
    font-family: $font-italic;
    font-style: italic;
  }
}

section.post-social{
  @include span-columns(6 of 6);
  padding: em(20) 0;
  opacity: 0.9;
  transition: all 0.2s linear;
  border-top:1px solid #e7e7e7;
  text-align: center;

  h5{
    margin-bottom:0px;
  }
  &:hover{
    opacity: 1;
  }

  a{
    color: $heading-color;
    font-size: em(13);
    text-decoration: none;
    transition: all 0.1s linear;
    &:hover{
      text-decoration: none;
      color: transparentize($heading-color, .3);
    }
  }
}

.social-share-button{
  margin: em(10%) 0 em(25%) 0;
  font-size: em(25);
}

.social-likes{
  @include span-columns(2 of 6);
  text-align: center;
}

.social-comments{
  @include span-columns(2 of 6);
  @include omega();
  text-align: center;
}

.social-edit{
  @include span-columns(2 of 6);
  text-align: center;

  p{
    color: $gray;
  }
}

.fa{
  color: $heading-color;
  font-size: em(20);
  margin: 0 em(10);
  vertical-align: middle;
}


