.user-profile{
  margin-top: 10%;
  @include span-columns(2);
  text-align: center;
  font-size: em(12);
  position: fixed;
  padding: 2% 3% 2% 0;
  background-color: white;
  border-radius: em(20);

  img{
    width: 100%;
    padding: 3%;
    background-color: $gray;
    border-radius: 50%;
  }
}

.profile-picture{
  padding: 0 35%;
}

.profile-country{
  color: $red;
  font-size: em(12);
}

.profile-description{
  padding: 0 em(30);
  border-radius: em(20);
}